@import "./global";

// Headder style 
header{
    .logo {
        /* text-align: center; */
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 35px 0px;
        background-color: $secondaryBg;
        clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
        img{
            width: 80%;
        }
    }
    .header-content {
        padding-left: 0px;
        .topbar {
            display: flex;
            justify-content: space-between;
            background-color: $primaryBg;
            clip-path: polygon(1.2% 0%, 100% 0%, 100% 100%, 0% 100%);
            align-items: last baseline;
            .topbar-text ul {
                color: $white;
                display: flex;
                align-items: center;
                list-style: none;
                gap: 10px;
                padding-left: 0px;
                a{
                    color:$white;
                    text-decoration: none;
                    padding-left: 3px;
                }
            }
            .topbar-button {
                display: flex;
                align-items: baseline;
                color: $white;
                ul{
                    list-style: none;
                }
                .btn{
                    color: $white;
                }
    
            }
        }
         #navbarSupportedContent {
            display: flex;
            background-color: $white;
            padding: 15px 0px;
            a{
                font-weight: bold;
                color: black;
                font-size: small;
            }
        }
        .nav-btns{
            display: flex;
            align-items: center;
            gap: 5px;
            .fa-solid{
                border: solid 1px black;
                border-radius: 50%;
                border-style: dashed;
                padding: 10px;
            }
            .submit-btn{
                background-color: $primaryBtn;
                border-radius: 20px;
                padding: 7px 15px;
                color: white;
                &::hover{
                    background-color:$primaryBg ;
                }
                }
        }
    }
}
// hero start 

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    }
// hero end

// Footer start
.footer {
    padding: 40px 0px 0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .content {
        color: $white;
    }

   .footer-tittle {
        text-decoration: none;
        color: $white;
        h4.wp-block-heading {
            padding: 0px 0px 30px 0px;
        }
    }
    .footer-content {
        ul, p {
            display: grid;
            gap: 5px;
            li {
                list-style: none;
                a{
                    color: $white;
                }
            }
        }

        input {
            padding: 10px;
            border-radius: 25px;
            border: none;
            width: 100%;
            color: $white;
            background-color: #203453;
        }

        button {
            padding: 10px;
            border-radius: 25px;
            border: none;
            background-color: $primaryBg;
            color: $white;
            width: 45%;
        }
    }
}


// Copyright
.inner-copyright-text {
    background: #132847;
    text-align: center;
    padding: 10px;
    color: $white;

    p {
        margin-bottom: 0px;
    }

    a {
        color: $white;
        text-decoration: none;
    }
}

.inner-copyright-privacy {
    background: $primaryBg;
    text-align: center;
    padding: 10px;
    color: $white;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;

    a {
        color: $white;
        text-decoration: none;
    }
}
