* {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

header .logo {
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px 0px;
  background-color: #07245F;
  -webkit-clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
}
header .logo img {
  width: 80%;
}
header .header-content {
  padding-left: 0px;
}
header .header-content .topbar {
  display: flex;
  justify-content: space-between;
  background-color: #0E3DD8;
  -webkit-clip-path: polygon(1.2% 0%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(1.2% 0%, 100% 0%, 100% 100%, 0% 100%);
  align-items: last baseline;
}
header .header-content .topbar .topbar-text ul {
  color: #FFFFFF;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 10px;
  padding-left: 0px;
}
header .header-content .topbar .topbar-text ul a {
  color: #FFFFFF;
  text-decoration: none;
  padding-left: 3px;
}
header .header-content .topbar .topbar-button {
  display: flex;
  align-items: baseline;
  color: #FFFFFF;
}
header .header-content .topbar .topbar-button ul {
  list-style: none;
}
header .header-content .topbar .topbar-button .btn {
  color: #FFFFFF;
}
header .header-content #navbarSupportedContent {
  display: flex;
  background-color: #FFFFFF;
  padding: 15px 0px;
}
header .header-content #navbarSupportedContent a {
  font-weight: bold;
  color: black;
  font-size: small;
}
header .header-content .nav-btns {
  display: flex;
  align-items: center;
  gap: 5px;
}
header .header-content .nav-btns .fa-solid {
  border: solid 1px black;
  border-radius: 50%;
  border-style: dashed;
  padding: 10px;
}
header .header-content .nav-btns .submit-btn {
  background-color: #FF6B00;
  border-radius: 20px;
  padding: 7px 15px;
  color: white;
}
header .header-content .nav-btns .submit-btn::hover {
  background-color: #0E3DD8;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.footer {
  padding: 40px 0px 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.footer .content {
  color: #FFFFFF;
}
.footer .footer-tittle {
  text-decoration: none;
  color: #FFFFFF;
}
.footer .footer-tittle h4.wp-block-heading {
  padding: 0px 0px 30px 0px;
}
.footer .footer-content ul, .footer .footer-content p {
  display: grid;
  gap: 5px;
}
.footer .footer-content ul li, .footer .footer-content p li {
  list-style: none;
}
.footer .footer-content ul li a, .footer .footer-content p li a {
  color: #FFFFFF;
}
.footer .footer-content input {
  padding: 10px;
  border-radius: 25px;
  border: none;
  width: 100%;
  color: #FFFFFF;
  background-color: #203453;
}
.footer .footer-content button {
  padding: 10px;
  border-radius: 25px;
  border: none;
  background-color: #0E3DD8;
  color: #FFFFFF;
  width: 45%;
}

.inner-copyright-text {
  background: #132847;
  text-align: center;
  padding: 10px;
  color: #FFFFFF;
}
.inner-copyright-text p {
  margin-bottom: 0px;
}
.inner-copyright-text a {
  color: #FFFFFF;
  text-decoration: none;
}

.inner-copyright-privacy {
  background: #0E3DD8;
  text-align: center;
  padding: 10px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}
.inner-copyright-privacy a {
  color: #FFFFFF;
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */